:root{
  --f7-area-chart-current-line-stroke: rgba(255,255,255,0.4)
}
.numpad-button {
    height: 70px;
  }

.text-center {
  text-align: center;
}

.text-white {
  color: whitesmoke
}

.p-0 {
  padding: 0 !important;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-0 {
  margin: 0;
}

.area-chart-axis > span {
  transform: rotate(25deg);
  justify-content: unset !important;
}

.area-chart-legend {
  margin-top: 4em !important;
}